<p>login works!</p>

<k-holy>
  <div slot="header">Contenido header</div>
  <div slot="nav">Contenido nav</div>
  <div slot="aside">Contenido aside</div>
  <div slot="section">

    <form [formGroup]="form">
      <label for="username">
        Username:
        <input name="username" type="text" formControlName="username">
      </label>

      <div class="errorText" *ngIf="form.get('username').dirty && !form.get('username').valid">
        <p *ngIf="form.get('username').hasError('required')">Debes poner un nombre</p>
        <p *ngIf="form.get('username').hasError('startWithNumber')">El nombre no puede empezar por número</p>
        <p *ngIf="form.get('username').hasError('userTaken')">Ese nombre ya existe</p>
      </div>

      <label for="password">
        Password:
        <input name="password" type="password" formControlName="password">
      </label>

      <div class="errorText" *ngIf="form.get('password').dirty && !form.get('password').valid">
        <p *ngIf="form.get('password').hasError('required')">Debes poner una contraseña</p>
        <p *ngIf="form.get('password').hasError('minlength')">La contraseña debe tener mínimo 3 caracteres</p>
      </div>

      <button (click)="onSubmit()" [disabled]="!form.valid">Send</button>
    </form>

    {{ form.valid }}

  </div>
  <div slot="footer">Contenido footer</div>
</k-holy>


