
<!-- Práctica de directivas -->
<h2>List of colors</h2>
<ul>
  <li
    *ngFor="let color of colors;
    let i = index; let o = odd; let e = even; let l = last;"
    [style.color]="color"
    [ngClass]="{even: e && !l, odd: o && !l , last: l}"
    [ngSwitch]="color"
    >

    <p *ngSwitchCase="'blue'"> {{'I am bluuuueeeeee' | uppercase | decorator:'__' }}</p>
    <p *ngSwitchDefault> {{ color | uppercase | decorator: decorator }}</p>
  </li>
</ul>

<!-- Práctica de pipes -->
<h2>Pipes</h2>
<p>{{ 'fecha' | uppercase }} / {{ 'FECHA' | lowercase }} / {{ 'fecha' | titlecase }}</p>
<p>{{ genero | i18nSelect:generoMapping }} Paco</p>

<p>{{ today | date:"medium" }}</p>
<p>{{ today | date:"yyyy-MM-dd" }}</p>


